<div class="modal" id="newsletter_popup2" style="display:none;">
  <div class="background-pink tac">
    <div class="klaviyo-padding">
    <p class="nmt klaviyo_header_close tar clickable" style="font-size: 13pt;"><span>✕</span></p>
    <form action="//manage.kmail-lists.com/subscriptions/subscribe" method="POST" novalidate="novalidate" class="klaviyo_subscription_form">
    <input type="hidden" name="g" value="MdrVKk">
    <div class="hide_on_submit">
      <h2 class="accent nm">Why, hello!</h2>
      <h3 class="nm">Get 10% off your first order</h3>
      <p>Just enter your email below for the coupon code.</p>
      <input type="email" id="newsletter_popup_$email" class="newsletter_email fw hide_on_submit" name="email" placeholder="Email">
      <div class="klaviyo_form_actions hide_on_submit">
        <button type="submit" class="klaviyo_submit_button fw"><span>Get my 10% off</span></button>
        <p class="border-bottom-gray clickable ib klaviyo_header_close">No thanks, I don't want 10% off.</p> 
      </div>
        <div class="error_message subscript" style="display: none;"></div> 
      </div>
   </form>
    </div>
   <p class='nm klaviyo_header_close tar clickable accent-padding' id="success-close" style="display: none;">✕</p>
    <div class="success_message"></div>
    <img src="{{'pop-paca.png' | asset_url}}" />
  </div>
</div> 
 
<script>
$(document).ready(function(){ 
  // var flowFinish = readCookie('flowFinish')
  // var pacasVisit = readCookie('pacasVisit')
  var newsletterModal = readCookie('newsletterModal')
  // if ((flowFinish) && (gekksVisit) && !(newsletterModal) && $('.mobile-nav1:visible').length == 0){
  if (!(newsletterModal) && $('.mobile-nav1:visible').length == 0){
    setTimeout(function(){
      $('.modal').removeClass('darken')
      if ($('.modal:visible').length == 0) {
        KlaviyoSubscribe.attachToModalForm('#newsletter_popup2', {
          delay_seconds: 0,
          ignore_cookie: true,
          success_message: "<div class='success_feedback accent-padding'><div class='accent-padding border-white'><h2 class='accent'>Thank you!</h2><p class='tac'>Check your inbox for your coupon code!</p></div></div>",
     success: function ($form) {
          createCookie("emailSignUp", "popup", 14)

      $('#success-close').show();
      ga('send', 'event', 'Acquisition', 'Pop Up', 'Website');
      $form.find('.hide_on_submit').hide();
    },
  }); 
  };
    createCookie("newsletterModal", "Displayed", 5)
    $('.index-sections, main, header, footer, #banner-cta, .mobile-nav1').addClass('darken')
    $('body').addClass('freeze-frame')
   }, 3000); 
  }
}); 
</script>

{% comment %} Exit Intent {% endcomment %}
<div class="modal" id="exit_offer" style="display:none;">
  <div class="background-lightgray accent-padding tac exitpop">
  <p class="tar nmt klaviyo_header_close clickable">✕</p>
   <form action="//manage.kmail-lists.com/subscriptions/subscribe" method="POST" novalidate="novalidate" class="klaviyo_subscription_form">
    <input type="hidden" name="g" value="PUyKK8"> 
    <div class="hide_on_submit">
      <h1 class="accent-padding border-white nm">Wait!</h1> 
      <p class="text-green">Get 10% off your first $30 order.<br> You'll also receive <b>exclusive discounts</b> directly to your email!</p>
      <div class="klaviyo_fieldset hide_on_submit">
      <div class="klaviyo_field_group">
        <input type="email" id="newsletter_popup_$email" name="email"></div>
      </div> 
      <div class="klaviyo_form_actions hide_on_submit">
        <button type="submit" class="klaviyo_submit_button"><span>Get my discount!</span></button>
      </div>
    </div>
   <p class="error_message subscript tac" style="display: none;"></p>
   </form>
   <div class="success_message" ></div>
  </div>
</div>

<script>
$(document).ready(function(){
  var executed = false 
  if (!sessionStorage.exitAttempted) {
   $(document).on('mouseleave', leaveFromTop);
      function leaveFromTop(e){
        if ($('.modal:visible').length == 0 && (e.clientY < 0 ) && (!executed) && $('.mobile-nav1:visible').length == 0) {
          console.log($('.mobile-nav1:visible').length)

            $('.modal').removeClass('darken')
            KlaviyoSubscribe.attachToModalForm('#exit_offer', {
              success_message: "<div class='success_feedback accent-padding'><div class='accent-padding border-white'><h2>Thank you!</h2><h3>Use the discount code below to receive 10% off your first order over $30 USD</h3><h2 class='text-green'>GEKKS10</h2></div>",
              ignore_cookie: true, 
              delay_seconds: 0.1,
              success: function ($form) {
                          createCookie("emailSignUp", "exit", 14)

              $form.find('.hide_on_submit').hide();
              ga('send', 'event', 'Acquisition', 'Exit Offer', 'Website');
              },
            }); 
            executed = true 
            sessionStorage.exitAttempted = 1    
                $('.index-sections, main, header, footer, #banner-cta, .mobile-nav1').addClass('darken')
      
      }; 
    };
  };
});
</script>


