
<main id="activate" class="customer"> 
  <section class="tac fw page-header">
    <h2 class="text-green nmb">Activate Account</h2>
    <h3 class="nmt">Create your password to activate your account</h3>
  </section>    
<section>
  {% form 'activate_customer_password' %}
    {{ form.errors | default_errors }}
    <h3 class="text-green ib"><label for="password">Password</label></h3>
    <input type="password" value="" name="customer[password]" size="16" class="background-lightgray">
    <h3 class="text-green ib"><label for="password_confirmation">Confirm </label></h3>
    <input type="password" value="" name="customer[password_confirmation]" class="background-lightgray">
    <input type="submit" value="Activate Account">
  {% endform %}
</section>  
</main>
