{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}


<footer class="background-gray">
  <div class="flex-container jes">
    <section class="flex-container-no jes text-white half">
    <ul class="tac">
      <a href="/pages/our-story"><li class="text-white">Our Story</li></a>
      <a href="/pages/live-feed"><li class="text-white">Live Feed</li></a>
      <a href="/pages/faq"><li class="text-white">FAQ</li></a>
      <a href="/pages/privacy-policy"/><li class="text-white">Privacy Policy</li></a>
      <a href="/pages/returns"/><li class="text-white">Returns & Exchanges</li></a>
    </ul>
    <ul class="tac">
      <a href="/collections/mens"><li class="text-white">Men</li></a>
      <a href="/collections/womens"><li class="text-white">Women</li></a>
      <a href="/collections/kids"><li class="text-white">Kids</li></a>
      <a href="/page/giving"><li class="text-white">Giving</li></a>
      <a href="/pages/contact-us"><li class="text-white">Contact Us</li></a>
    </ul>
  </section>
    <section class="half">
      <div class="social-icons tac">
        <a href="" target="_blank"><img src="{{'fb-w.png' | asset_url}}" alt="Facebook" /></a>
        <a href="" target="_blank"><img src="{{'ig-w.png' | asset_url}}" alt="Instagram" /></a>
      </div>
      <p class="tac subscript text-white">Want to stay up to date with events and exclusive offers? Sign up for our newsletters.</p>
      <form action="https://manage.kmail-lists.com/subscriptions/subscribe?g=Buguta" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
                  <input type="email" value="" name="EMAIL" class="required email email_update border-white" id="mce-EMAIL" placeholder="Your email address">
                  <input type="submit" class="submit"value="sign up" name="subscribe" id="mc-embedded-subscribe">
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response"></div>
                    <div class="response" id="mce-success-response"></div>
                  </div>
              </form>
    </section>
  </div>
    <img src="{{'Pacas-white.png' | asset_url}}" class="jlogo" />

  <p class="subscript tac nmt text-white">© 2019 All Rights Reserved</p>
</footer>
